
body{
    width: 100%;
    margin: auto;
}
.card-group{
  width: 100%;
  margin: auto; 
  gap:20px;
}
.datos{
  margin: auto;
  width: 50%;
}
#loginbtn{
  width: 100%;
  background-color:rgb(164, 221, 7) ;
  color: white;
  margin: auto;
}
.fotodejaguay{
  width: 100%;
  height: 550px;
  overflow: hidden;
  position: relative;
  margin: auto;
  }
.fotodejaguay img{
  width: 100%;
  height: 100%;
  filter: brightness(40%);

}
.fotodejaguay p{
  font-size: 1rem;
  color: aliceblue;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-20%, -50%);
  text-align: right;
  
}
.final{
  background-color: #022138;
  margin: auto;
  width: 100%;
  height: 80%;
  padding: 0; 
  font-size: 1rem;
  }
.fotodejaguay p b{
  font-size: 2rem;
}
.card-group{
  width: 100%;
  margin: auto; 
  gap:20px;
}
#color{
  color: chartreuse;
}
.container1{
  display: flex;
  justify-content:center ; 
  
 }
 #borrar{
  background-color:rgb(164, 221, 7) ;
  color: aliceblue;
  text-align: center;
}
.card{    
  margin:2px;
}
.swal-modal {
  background-color:"";
  border: 3px solid red;
  border-radius: 20px;
  }
